body{
   box-sizing: border-box; 
}
.sidebar{
    max-width: 100%;
    width: 200px;
    height: 100vh;
}
.h1{
    text-align: left;
margin-left: 20vw;
}
li{
    list-style: none;
}
.interface{
    display: flex;
    height: 300px;
    width: calc(100vw - 230px);
    justify-content: space-between;


}
.orders  {
flex: 1;
height: 100px;
width: 200px;
margin-right: 10px;
background: blue;
padding: 50px;}
.trucks{
    padding: 50px;
    margin-right: 10px;
    background: blue;
    height: 100px;
    width: 200px;
    

}
.comments{
    padding: 50px;
    margin-right: 10px;
    background: blue;
    width: 200px;
    height: 100px;
    
}

/* .order-title{
text-align: left;
margin-left: 20vw;
} */
.admin-title{
    text-align: center;
}
.wrapper{
    display: flex;
}
