
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blueviolet;
    width: 97vw;
    height: 93px;
}
.link{
    margin-left: 80px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}
.link:active{
    text-decoration: underline;
    color: blue;
}
textarea{
    height: 100px;
    width: 200px;
}
.ggg{
flex: 1;
}
body{
    box-sizing: border-box;
    width: 90vw;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    border: 0;
    scroll-behavior: smooth;
    padding: 0 10px;
    
    /* background-color: black; */
}
.about{
    margin-top: 20px;
    width: 100vw;
    text-align: center;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.img{
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    /* margin: 10px 50px 10px 100px; */
}
.service-title{
    text-align: center;
}
p{
    font-size: 15px;

}



img{
    height: 300px;
}
button{
    margin-left: 50px;
    border: 1px solid;
}
.slogun{
    /* width: 100vw; */
   /* text-align: center; */
   font-size:22px;
   font-weight: 100;
}
.logo{
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}
.home-form > .input{
    margin-bottom: 10px;
    width: 200px;

}
.home-form{
margin-bottom: 50px;
padding: 20px;
}
.feedback{
    width: 100vw;
    margin-top: 20px;
    display: block;

    text-align: center;
}
.size{
    width: 50vw;
    margin-left: 50px;
    align-items: center;
}
.btn-order{
    padding: 10px 40px;
    margin-left: 30vw;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 30px;
}
.svc{
    display: flex;
     justify-content: space-between
}
@media only screen and (max-width: 700px) {
    *{
        box-sizing: border-box;
        
    }
    
    p{
        font-size: 20px;
        font-stretch: ultra-expanded;
    }

    
    .slogun{
        width: 100vw;
        text-align: left;
        font-size: x-large;
    }
    
    .img{
        background-image: url('../images/background.jpg');
       height: 300px;
       width: 300px;
       margin: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       border: 0;
    }
    .service{
        display: block;
        margin: 0;
    }
    
    .service img{
        max-width: 80vw;
        height: 50vh;
        margin: 0;
        border: 0;
    }
    .contact{
        display: block;
    }
    .about{
        text-align: left;
    }
    .feedback{
        text-align: left;
    }
    .svc{
        display: block;
    }
    
    .link{
        margin-left: 0;
        margin-right: 5px;
        text-decoration: none;
        color: blue;
    }
    .btn-order{
        padding: 10px;
        margin-left: 35px;
        border-radius: 20px;
        background-color: red;
        color: white;
        font-size: 15px;
    }
    .size{
        width: 100%;
        margin-left: 20px;
        align-items: center;
    }
}




/* Create a number guessing game to generate a number between the range of 1 and 2.
 The game should prompt users for their username.Set range as function parameter and prompt
  the player to predict the generated number between the given range. At a correct guess, the
   game should award the player a point and move them to stage 2 by increasing the range limit
    value by 1, e.g. range is from 1 and 3 for stage 2 and so on. Connect replit account to GitHub
     and save your program on GitHub. Ensure that your replit link is written 
in your GitHub repo readme file. Submit GitHub link to the saved project. */