nav{
    display: flex;
    justify-content: space-between;
    color: white;
    color: blueviolet;
}
.link{
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}
h1{
    font-size: 20px;
    margin-top: 0;
    
}
body{
    box-sizing: border-box;
    /* background-color: black; */
}
.about{
    margin-top: 20px;
    width: 100vw;
    text-align: center;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.img{
    background-image: url('../images/truck1.png');
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 70vh;
}