body{
   box-sizing: border-box; 
}
.sidebar{
    max-width: 100%;
    width: 200px;
    color: white;
    height: 90vh;
    background-color: rgb(87, 87, 163);
    margin-right: 5px;
}
.h1{
margin-left: 20vw;
}
li{
    list-style: none;
}
.interface{
    display: flex;
    height: 300px;
    width: calc(100vw - 230px);
    justify-content: space-between;


}
.orders  {
height: 130px;
width: 200px;
margin: 0 10px 10px 0;
background: rgb(206, 145, 31);
padding: 50px;}
.trucks{
    padding: 50px;
    margin: 0 10px 10px 0;
    background: rgb(206, 145, 31);
    height: 130px;
    width: 200px;
    

}
.admin-comments{
    padding: 50px;
    margin: 0 10px 10px 0;
    background: rgb(206, 145, 31);
    width: 200px;
    height: 130px;
    
}

.order-title{
    display: flex;
    justify-content: space-around;
    


} 
.name-div{
    display: flex;
    justify-content: space-between;
}
.admin-title{
    text-align: center;
    margin-left: 40px;
}
.wrapper{
    display: flex;
}
.sidebar-users{
    width: 100%;
    text-align: center;
    border: 1px solid white;
    padding: 50px 0;

}
.cmnt{
    display: flex;
    justify-content: space-around;
    color: blue;

}
.sidebar-orders{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    border: 1px solid white;
}
.sidebar-trucks{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    border: 1px solid white;
}
.not{
    
    color: white;
    height:30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;

}
.navlinks{
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    .interface{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: calc(100vw - 230px);
        justify-content: space-between;
    
    
    }
    
}
