.login{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
    .login .form{
    height: 200px;
    width: 200px;
    background-color: rgb(92, 92, 133);
    padding: 100px;
    border-radius: 10px;
    color: white;
}
.form button{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    
}
.form input{
    padding: 3px 10px ;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 0 0 15px 0;
}
.btn-login{
    display: flex;
    justify-content: center;
}
.form label{
    margin-left: 15px;
}

@media only screen and (max-width:500px) {
    .login .form{
        height: 50vh;
        width: 50vw;
        background-color: rgb(92, 92, 133);
        padding: 20pxpx;
        border-radius: 10px;
        color: white;
    }
    
}